:root {
    --vidro: #rgba(255, 255, 255, 0.1);
    --secundaria: #131b13;
    --maisescuro: #0a0f1c;
    --escuro: #c9dbd5;
    --claro: #303946;
}

#portfolio-container {
    max-width: 600px;
    margin: 0 auto;
    background-color: var(--escuro);
    padding: 20px;
    border-radius: 8px;
    font-family: monospace;
    white-space: pre-wrap;
    font-size: 14px;
    color: #333;
    border: 1px solid #ccc;
    overflow-y: auto;
}
