@media (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    .header {
        flex-direction: row;
        justify-content: center;
        height: 56vh;
        width: 100%;
        overflow: hidden;
        padding: 0;
    }

    .profile-container {
        flex-direction: column;
        justify-content: center;
    }

    .profile-container img {
        padding: 0;
        margin: 0;
    }

    h1 {
        font-size: 2.5em;
        margin: 20px;
        padding: 0;
    }

    .subh2 {
        font-size: 1.0em;
        margin: 0;
        padding: 0;
        margin-top: -15px;
    }

    svg {
        width: 100%;
        height: auto;
    }
}

/**/

@media (max-width: 768px) {
    .skills {
        padding: 20px;
    }
}

/**/

/*keyframes*/

@media (max-width: 768px) {
    .line {
        margin-left: 20px; /* em vez dos 300px */
        margin-top: 40px; /* um pouco menos de topo */
        margin-bottom: -70px;
        font-size: 2.1em;
        
    }

    .subh2 {
        font-size: 1.0em;
    }

    @keyframes typing {
        from {
            width: 0;
        }

        to {
            width: 11.4ch; /* ajusta o número de caracteres que cabem na tela menor */
        }
    }
}


@media (max-width: 1024px) {

    .line {
        margin-right: 100px;
        margin-top: 40px;
        font-size: 2.1em;

    }

    .subh2 {
        font-size: 0.6em;
        margin-left: 240px;
    }

    }