
@media (min-width: 468px) and (max-width: 1023px) {
    body {
        overflow-x: hidden;
    }

    .header {
        height: 300px;
        flex-direction: column;
        align-items: center;
    }

    .profile-container {
        width: 100%;
        text-align: center;
        margin-top: 0;
    }

    .profilezin {
        width: 100%;
        margin-bottom: 10px;
        
    }

    .profilezin img {
        flex-direction: column;
        justify-content: center;
        padding: 0;
        margin: 0;
        z-index: 1;
        position: relative;
        top: 130px;
    }

    h1 {
        position: relative;
        bottom: 18px;
        font-size: 2.5em;
        margin: 0;
        padding: 0;
    }

    .subh2 {
        text-align: center;
        margin-top: 0;
    }

    .skills {
        padding: 20px;
    }

    .line {
        margin-right: 100px;
        margin-top: 20px;
        margin-bottom: -20px;
        font-size: 1.6rem;
    }

    .img-icons {
        margin: 40px;
        padding: 0;
    }

    .Curriculo {
        text-align: center;
        padding: 0;
        margin: 0;
        position: relative;
        
    }

    svg {
        width: 100%;
        height: auto;
    }

    @keyframes typing {
        from {
            width: 0;
        }

        to {
            width: 11.4ch;
        }
    }
}

@media (max-width: 1024px) {
    .line {
        margin-left: 110px;
    }

    .subh2 {
        font-size: 0.8em;
        margin: 0;
        padding: 0;
    }
}
