@media (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    .header {
        flex-direction: row;
        justify-content: center;
        height: 56vh;
        width: 100%;
        overflow: hidden;
        padding: 0;
    }

    .profile-container {
        flex-direction: column;
        justify-content: center;
    }

    .profile-container img {
        padding: 0;
        margin: 0;
    }

    h1 {
        font-size: 2.5em;
        margin: 20px;
        padding: 0;
    }

    svg {
        width: 100%;
        height: auto;
    }
}

/**/

@media (max-width: 768px) {
    .skills {
        padding: 20px;
    }
}

/**/