html body {
    height: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

:root {
    --vidro: #rgba(255, 255, 255, 0.1);
    --secundaria: #131b13;
    --maisescuro: #0a0f1c;
    --escuro: #c9dbd5;
    --claro: #303946;
}

body {
    background-color: var(--escuro);
    color: black;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    position: relative;
}

/*Começo cabeçalho*/

.header {
    width: 100%;
    height: 250px;
    margin-right: 50px;
    background-color: var(--maisescuro);
    display: flex;
    align-items: center;
    flex-direction: row;
    
}

.profile-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    
}


.profile-container img {
    width: 200px;
    height: 200px;
    position: relative;
    margin-left: 50px;
    border-radius: 50%;
    box-shadow: 0 0 20px #c3cec3;
}

.line {
    border-right: 2px solid var(--escuro);
    font-size: 5.5em;
    color: var(--escuro);
    margin-top: 100px;
    margin-left: 160px;
    white-space: nowrap;
    overflow: hidden;
    
    margin-bottom: 0px;
}

.subh2 {
    display: inline-block;
    background-color: var(--maisescuro);
    font-size: 1.0em;
    color: var(--escuro);
    margin: 0;
    padding: 0;
    
    position: relative;
    bottom: 20px;
    margin-bottom: 0px;
}

svg {
    
    position: relative;
    bottom: 20px;
}

/*usando keyframes*/

.typing-animation {
    animation: blinkCursor 500ms steps(40) normal,
        typing 1s steps(100) 1s normal both;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 6.2em;
    }
}

@keyframes blinkCursor {
    from {
        border-right-color: var(--escuro);
    }

    to {
        border-right-color: transparent;
    }
}

/* FIM keyframes*/

#h2zin {
    font-size: 2.5em;
    color: var(--secundaria);
}

/*Fim cabeçalho*/

/*Inicio Icones*/

#img-icons {
    height: 40px;
    width: 40px;
    right: -60px;
    margin-right: 20px;
    margin-left: 60px;
    overflow: hidden;
}

/*Fim icones*/

/*Começo Skills*/

.skills {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.skill-box {
    background: #222;
    color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 165, 0, 0.5);
    min-width: 200px;
    transition: all 0.5s ease;
    cursor: pointer;
}



.skill-box:hover {
    box-shadow: 0 10px 20px rgba(5, 49, 40, 0.9);
    transform: translateY(-10px) scale(1.03);
}

/*Fim Skills*/

/*Projetos : Titulo, caixa, paragrafos, cards, imagens, */


.projetos {
    padding: 6rem 2rem;
}

.projetos-titulo {
    text-align: center;
    font-size: 2, 5rem;
    margin-bottom: 50px;
}

.projetos-caixa {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.projetos-card {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    border: 1px solid var(--claro);
    overflow: hidden;
    transition: all 0.5s ease;
    cursor: pointer;
}

.projetos-card:hover {
    box-shadow: 0 10px 20px rgba(5, 49, 40, 0.9);
    transform: translateY(-10px) scale(1.03);
}

.caixa-texto-projeto {
    padding: 1.5rem;
}

.projetos-imagem {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.info-projetos {
    margin-bottom: 5px;
}

.paragrafo-projetos {
    color: rgba(7, 20, 10, 0.8);
    line-height: 1.25rem;
}

/*Fim Projetos*/

/*Inicio Footer e Form*/


.contatos {
    padding: 6rem 2rem;
}

.contatos-titulo {
    text-align: center;
    font-size: 2, 5rem;
    margin-bottom: 50px;
}

.formulario-contato {
    max-width: 600px;
    margin: 0 auto;
    background: rgba(19, 27, 20, 0.20);
    backdrop-filter: blur(5px);
    padding: 2rem;
    border: 1px solid var(--escuro);
    border-radius: 16px;
}

.grupo-form {
    margin-bottom: 1rem;
}

.campo-form {
    width: 100%;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 8px;
    color: var(--vidro);
    border: 1px solid var(--vidro);
}

.campo-form:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(15, 26, 5, 0.50);
}

.botao-form {
    color: var(--vidro);
    background: linear-gradient(45deg, #88d375, #228d42);
    padding: 1rem 2rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    transition: all 0.5s ease;
}

/*ID manipulado no JS Eventos*/
#botao-form {
    color: black;
    transition: color 0.3s ease-in-out;
}

.botao-form:hover {
    transform: transtaleY(-4px);
    box-shadow: 0 0 10px rgba(79, 165, 0, 0.5);
}