.skill-box {
    opacity: 0;
    transform: translateX(-50px) rotate(-10deg) translateY(20px);
    transition: opacity 0.6s ease, transform 0.6s ease, box-shadow 0.3s ease;
  }
  
  .skill-box:nth-child(odd) {
    transform: translateX(-50px) rotate(-10deg) translateY(20px);
  }
  
  .skill-box:nth-child(even) {
    transform: translateX(50px) rotate(10deg) translateY(20px);
  }
  
  .skill-box.show {
    opacity: 1;
    transform: translateX(0) rotate(0) translateY(0);
  }
  

  /* Tornando o :hover preferencial :D */
  .skill-box.show:hover {
    box-shadow: 0 10px 20px rgba(5, 49, 40, 0.9);
    transform: translateY(-10px) scale(1.03) !important;
  }
  